body {
    background-color: #111827; 
    color: #f5f5f5;           
    font-family: "Segoe UI", Arial, sans-serif;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    min-height: 100vh;
}

.container {
    background-color: #1f2937;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(250, 204, 21, 0.2);
    width: 400px;
    text-align: center;
}

h1 {
    color: #facc15;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #1f2937;
    background: #020617;
    color: #f5f5f5;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #facc15;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #facc15, #eab308);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(250, 204, 21, 0.6);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    background: #111827;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.2);
    text-align: left;
}
