body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.dark-theme {
    background-color: black;
    color: white;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
